<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="센서 및 임계치 등록" />
    <meta name="author" content="NHN Academy" />
    <title>NHN Academy 서버 및 임계치 등록</title>
    <link href="/admin/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
<div th:replace="~{fragments/head :: header}"></div>
<div id="layoutSidenav">
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <div id="layoutSidenav_content">

        <main class="container-fluid px-4 mt-4">
            <h1 class="mb-4">서버 등록</h1>

            <!--                    -->
        </main>

    </div>
</div>
</body>