<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="서버 등록" />
    <meta name="author" content="NHN Academy" />
    <title><<도메인>> 서버 조회</title>
    <link href="/admin/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script type="module" src="/admin/js/servers.js"></script>
</head>
<body class="sb-nav-fixed">
<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    table, th, td {
        border: 1px solid #ccc;
    }

    th, td {
        padding: 8px;
        text-align: center;
    }

    tr:hover {
        background-color: #f1f1f1;
        cursor: pointer;
    }
</style>


<div th:replace="~{fragments/head :: header}"></div>
<div id="layoutSidenav">
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <div id="layoutSidenav_content">

        <main class="container-fluid px-4 mt-4">
            <h1 class="mb-4">서버 조회</h1>
            <p>도메인명: NHN</p>

            <h2>서버 리스트</h2>
            <table id="serverTable" border="1">
                <thead>
                <tr>
                    <th>Server No</th>
                    <th>Iphost</th>
                    <th>CompanyDomain</th>
                    <th>CreatedAt</th>
                </tr>
                </thead>
                <tbody id="serverTable_content"></tbody>
            </table>
            <br>
            <h2>서버 데이터 리스트</h2>
            <table id="serverDataTable" border="1" style="display: none;">
                <thead>
                <tr>
                    <th>Data No</th>
                    <th>Location</th>
                    <th>Gateway</th>
                    <th>Name</th>
                    <th>MinThreshold</th>
                    <th>MaxThreshold</th>
                    <th>CreatedAt</th>
                </tr>
                </thead>
                <tbody id ="serverDataTable_content"></tbody>
            </table>
        </main>

    </div>
</div>
</body>