<!-- footer.html -->
<!-- src/main/resources/templates/fragments/footer.html -->
<link href="/index/css/styles.css" rel="stylesheet" />
<div th:fragment="footer"
     xmlns:th="http://www.thymeleaf.org">
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; NHN Academy 2025</div>
                <div>
                    <div class="text-end">
                        <a id="m30" href="/docs/privacy-policy" class="link-dark text-decoration-none me-3">개인정보 처리방침</a>
                        <a id="m31" href="/docs/terms-of-service"  class="link-dark text-decoration-none me-3">이용약관</a>
                        <a id="m32" href="/docs/service-guide"  class="link-dark text-decoration-none">서비스 안내</a>
                    </div>
                </div>
            </div>
        </div>

    </footer>
</div>
