<!-- src/main/resources/templates/fragments/head.html -->
<div th:fragment="header"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand -->
        <a class="navbar-brand ps-3" href="/environment/dashboard">NHN Academy 센서 관리</a>
        <!-- Sidebar Toggle -->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0 ps-3" id="sidebarToggle">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Sidebar Toggle -->

<!--        &lt;!&ndash; Navbar Search &ndash;&gt;-->
<!--        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">-->
<!--            <div class="input-group">-->
<!--                <input class="form-control" type="text" placeholder="검색..." aria-label="검색..." aria-describedby="btnNavbarSearch" />-->
<!--                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>-->
<!--            </div>-->
<!--        </form>-->

        <!-- Navbar -->
        <ul class="navbar-nav ms-auto me-3 me-lg-4">
            <li>
                <button class="btn btn-danger order-1 order-lg-0 me-4 me-lg-0" id="alarmToggle">
                    <i class="fa-solid fa-bell"></i>
                </button>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href=/members/settings>설정</a></li>
                    <li><a class="dropdown-item" href=/members/mypage>마이페이지</a></li>
                    <li><a class="dropdown-item" href="/auth/login" onclick="logout()">로그아웃</a></li>
                    <li><hr class="dropdown-divider" /></li>

                    <li sec:authorize="hasAnyAuthority('ADMIN')">
                        <a class="dropdown-item" href="/members/member-list">사용자 관리</a>
                        <a class="dropdown-item" href="/companies/company-list">회사 관리</a>
                    </li>

                    <li sec:authorize="hasAnyAuthority('OWNER')">
                        <a class="dropdown-item" href="/members/member-list">사용자 관리</a>
                        <a class="dropdown-item" href="/companies/settings">회사 정보 관리</a>
                        <a class="dropdown-item" href="/members/permission">회원 허가</a>
                    </li>

                    <li><a class="dropdown-item" href="/">메인으로</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>

