<!-- src/main/resources/templates/fragments/sidebar.html -->
<div th:fragment="sidebar"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">

                    <div id="m123" class="sb-sidenav-menu-heading">핵심</div>
                    <a class="nav-link" href="/environment/dashboard-main">
                        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                        <span id="m124" class="nav-text">메인 대시보드</span>
                    </a>
                    <a class="nav-link collapsed"
                       href="#"
                       data-bs-toggle="collapse"
                       data-bs-target="#dashboardCollapse"
                       aria-expanded="false"
                       aria-controls="dashboardCollapse">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        <span id="m125" class="nav-text">상세 대시보드</span>
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="dashboardCollapse" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a id="m126" class="nav-link" href="/environment/charts">통합 관리</a>
                            <a id="m127" class="nav-link" href="/environment/dashboard-integration">기간 평균</a>
                            <a id="m128" class="nav-link" href="/environment/dashboard-detail">서비스</a>
                        </nav>
                    </div>

                    <div id="m129" class="sb-sidenav-menu-heading">분석</div>

                    <a class="nav-link" href="/environment/dashboard-prediction">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        <span id="m130" class="nav-text">AI 예측 차트</span>
                    </a>

                    <a class="nav-link" href="/environment/reports">
                        <div class="sb-nav-link-icon"><i class="fas fa-file-alt"></i></div>
                        <span id="m132" class="nav-text">리포트</span>
                    </a>

                    <div id="m133" class="sb-sidenav-menu-heading">서버</div>

                    <a class="nav-link" href="/rules/serverRegister">
                        <div class="sb-nav-link-icon"><i class="fas fa-file-alt"></i></div>
                        <span id="m134" class="nav-text">서버 및 데이터 등록</span>
                    </a>

                    <a class="nav-link" href="/rules/serverList">
                        <div class="sb-nav-link-icon"><i class="fas fa-file-alt"></i></div>
                        <span id="m135" class="nav-text">서버리스트 조회</span>
                    </a>

                    <div id="m136" class="sb-sidenav-menu-heading">센서</div>

                    <a class="nav-link" href="/rules/sensorRegister">
                        <div class="sb-nav-link-icon"><i class="fas fa-file-alt"></i></div>
                        <span id="m137" class="nav-text">센서 및 데이터 등록</span>
                    </a>

                    <a class="nav-link" href="/rules/sensorList">
                        <div class="sb-nav-link-icon"><i class="fas fa-file-alt"></i></div>
                        <span id="m138" class="nav-text">센서리스트 조회</span>
                    </a>

<!--                    <div class="sb-sidenav-menu-heading">알람</div>-->
<!--                    <a class="nav-link" href="/environment/warnify">-->
<!--                        <div class="sb-nav-link-icon"><i class="fa-solid fa-bell"></i></div>-->
<!--                        경고 내역-->
<!--                    </a>-->



<!--                    <div class="sb-sidenav-menu-heading">테스트</div>-->
<!--                    <a class="nav-link" href="/environment/test-websocket">-->
<!--                        <div class="sb-nav-link-icon"><i class="fas fa-file-alt"></i></div>-->
<!--                        웹소켓 테스트 용-->
<!--                    </a>-->
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">로그인 계정:</div>
                <span sec:authentication="principal.username"></span>
            </div>
        </nav>
    </div>
</div>

<!--언어 전환용 JS-->
<script src="/admin/js/locales-index.js"></script>
