<!-- src/main/resources/templates/fragments/sidebar.html -->
<div th:fragment="sidebar"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">

                    <div class="sb-sidenav-menu-heading">핵심</div>
                    <a class="nav-link" href="/environment/dashboard-main">
                        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                        메인 대시보드
                    </a>
                    <a class="nav-link collapsed"
                       href="#"
                       data-bs-toggle="collapse"
                       data-bs-target="#dashboardCollapse"
                       aria-expanded="false"
                       aria-controls="dashboardCollapse">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        상세 대시보드
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="dashboardCollapse" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/environment/charts">트리</a>
                            <a class="nav-link" href="/environment/dashboard-integration">통합</a>
                            <a class="nav-link" href="/environment/dashboard-detail">시계열</a>
                        </nav>
                    </div>

                    <div class="sb-sidenav-menu-heading">분석</div>

                    <a class="nav-link" href="/environment/dashboard-prediction">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        AI 예측 차트
                    </a>

                    <a class="nav-link" href="/environment/tables">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        테이블
                    </a>
                    <a class="nav-link" href="/environment/reports">
                        <div class="sb-nav-link-icon"><i class="fas fa-file-alt"></i></div>
                        리포트
                    </a>

                    <div class="sb-sidenav-menu-heading">서버</div>

                    <a class="nav-link" href="/environment/serverRegister">
                        <div class="sb-nav-link-icon"><i class="fas fa-file-alt"></i></div>
                        서버 및 데이터 등록
                    </a>
                    <a class="nav-link" href="/environment/serverList">
                        <div class="sb-nav-link-icon"><i class="fas fa-file-alt"></i></div>
                        서버리스트 조회
                    </a>

                    <div class="sb-sidenav-menu-heading">센서</div>

                    <a class="nav-link" href="/environment/sensorRegister">
                        <div class="sb-nav-link-icon"><i class="fas fa-file-alt"></i></div>
                        센서 및 데이터 등록
                    </a>
                    <a class="nav-link" href="/environment/sensorList">
                        <div class="sb-nav-link-icon"><i class="fas fa-file-alt"></i></div>
                        센서리스트 조회
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">로그인 계정:</div>
                <span sec:authentication="principal.username"></span>
            </div>
        </nav>
    </div>
</div>
