<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--반응형 웹을 위한 설정. 화면 너비에 따라 잘 보이도록 모바일 뷰포트 설정 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!--웹 페이지의 설명을 검색 엔진에 알려주는 메타 태그-->
    <meta name="description" content="센서/서버/임계치 등록" />
    <!--웹 페이지의 제작자 정보를 알려주는 메타 태그-->
    <meta name="author" content="NHN Academy"/>
    <title>NHN Academy 센서/서버/임계치 등록</title>
    <link href="/admin/css/styles.css" rel="stylesheet" />
    <!--아이콘 라이브러리 로드-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">

</body>

</html>
